{% extends "base.html" %}
{% block content %}
<div class="contatiner">
    <div class="row mt-2 mb-2">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card text-center">
                <a href="/authors/list" style="text-decoration: none;">
                    <div class="card-body">
                        <h1>Autores</h1>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">

            <div class="card text-center">
                <a href="/books/list" style="text-decoration: none;">
                    <div class="card-body">
                        <h1>Livros</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}