{% extends "base.html" %}
{% block content %}
<div class="mt-2 mb-2 text-end">
    <a href="/books/form" type="button" class="btn btn-primary">Incluir Livro</a>
</div>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Nome</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% if livros|length > 0 %}
        {% for livro in livros %}
        <tr>
            <th scope="row">{{ livro.id }}</th>
            <td>{{ livro.name }}</td>
            <td>{{ livro.author.name }}</td>
            <td>{{ livro.isbn }}</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-primary">Editar</button>
                <button type="button" class="btn btn-sm btn-danger">Excluir</button>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5" class="text-center">Nenhum livro encontrado.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}